<!DOCTYPE html>
<html>
    <head>
        <title>Loading...</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="{{asset('css/pim.css', 'frontend')}}"/>

        <script type="text/javascript" src="{{asset('dist/manifest.min.js', 'frontend')}} "></script>
        <script type="text/javascript" src="{{asset('dist/lib.min.js', 'frontend')}} "></script>
        <script type="text/javascript" src="{{asset('dist/vendor.min.js', 'frontend')}} "></script>
        <script type="text/javascript" src="{{asset('dist/main.min.js', 'frontend')}} "></script>
    </head>
    <body>
        <div class="app">
            <div class="AknDefault-progressContainer">
                <h3>
                    Loading ...
                </h3>
                <img src="{{ asset('bundles/pimui/images/main-loader.gif') }}"/>
            </div>
        </div>
        <div class="hash-loading-mask"></div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics_debug.js','ga');

        ga('create', 'UA-132210948-1', 'auto');
        </script>

    </body>
</html>
